{% load static %}

<!-- BEGIN #sidebar -->
<div id="sidebar" class="app-sidebar{%if appSidebarTransparent %} app-sidebar-transparent{% endif %}" data-bs-theme="{% if appSidebarLight %}light{% else %}dark{% endif %}">
	<!-- BEGIN scrollbar -->
	<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
		<!-- BEGIN menu -->
		<div class="menu">
			<div class="menu-profile">
				<a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
					<div class="menu-profile-cover with-shadow"></div>
					<div class="menu-profile-image menu-profile-image-icon bg-gray-900 text-gray-600">
						<i class="fa fa-user"></i>
					</div>
					<div class="menu-profile-info">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								Sean Ngu
							</div>
							<div class="menu-caret ms-auto"></div>
						</div>
						<small>Frontend developer</small>
					</div>
				</a>
			</div>
			<div id="appSidebarProfileMenu" class="collapse">
				<div class="menu-item pt-5px">
					<a href="javascript:;" class="menu-link">
						<div class="menu-icon"><i class="fa fa-cog"></i></div>
						<div class="menu-text">Settings</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="javascript:;" class="menu-link">
						<div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
						<div class="menu-text"> Send Feedback</div>
					</a>
				</div>
				<div class="menu-item pb-5px">
					<a href="javascript:;" class="menu-link">
						<div class="menu-icon"><i class="fa fa-question-circle"></i></div>
						<div class="menu-text"> Helps</div>
					</a>
				</div>
				<div class="menu-divider m-0"></div>
			</div>
			{% if appSidebarSearch %}
				<div class="menu-search mb-n3">
					<input type="text" class="form-control" placeholder="Sidebar menu filter..." data-sidebar-search="true" />
				</div>
			{% endif %}
			{% for menu in sidebar_menu %}
				{% if menu.is_header %}
					<div class="menu-header">{{ menu.title }}</div>
				{% elif menu.is_divider %}
					<div class="menu-divider"></div>
				{% else %}
					<div class="menu-item {% if menu.children %} has-sub {% endif %} {% if menu.is_active %} active {% endif %}">
						<a href="{{ menu.url }}" class="menu-link">
							{% if menu.icon %}<span class="menu-icon"><i class="{{ menu.icon }}"></i></span>{% endif %}
							{% if menu.img %}<span class="menu-icon-img"><img src="{% static menu.img %}" /></span>{% endif %}
							{% if menu.title %}
								<span class="menu-text">
									{{ menu.title }}
									{% if menu.label %}<span class="menu-label">{{ menu.label }}</span>{% endif %}
								</span>
							{% endif %}
							{% if menu.children and not menu.badge %}<span class="menu-caret"></span>{% endif %}
							{% if menu.badge %}<div class="menu-badge">{{ menu.badge }}</div>{% endif %}
						</a>
						{% if menu.children %}
							<div class="menu-submenu">
								{% for children in menu.children %}
									<div class="menu-item {% if children.children %} has-sub {% endif %} {% if children.is_active %} active {% endif %}">
										<a href="{{ children.url }}" class="menu-link">
											<span class="menu-text">
												{{ children.title }}
												{% if children.highlight %} <i class="fa fa-paper-plane text-theme"></i>{% endif %}
											</span>
											{% if children.children %}<span class="menu-caret"></span>{% endif %}
										</a>
										
										{% if children.children %}
											<div class="menu-submenu">
												{% for children2 in children.children %}
													<div class="menu-item {% if children2.children %} has-sub {% endif %} {% if children2.is_active %} active {% endif %}">
														<a href="{{ children2.url }}" class="menu-link">
															<span class="menu-text">
																{{ children2.title }}
																{% if children2.highlight %} <i class="fa fa-paper-plane text-theme"></i>{% endif %}
															</span>
															{% if children2.children %}<span class="menu-caret"></span>{% endif %}
														</a>
														
														{% if children2.children %}
															<div class="menu-submenu">
																{% for children3 in children2.children %}
																	<div class="menu-item {% if children3.children %} has-sub {% endif %} {% if children3.is_active %} active {% endif %}">
																		<a href="{{ children3.url }}" class="menu-link">
																			<span class="menu-text">
																				{{ children3.title }}
																				{% if children3.highlight %} <i class="fa fa-paper-plane text-theme"></i>{% endif %}
																			</span>
																		</a>
																	</div>
																{% endfor %}
															</div>
														{% endif %}
													</div>
												{% endfor %}
											</div>
										{% endif %}
									</div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<!-- END menu -->
	</div>
	<!-- END scrollbar -->
</div>
<!-- END #sidebar -->
	
<div class="app-sidebar-bg" data-bs-theme="{% if appSidebarLight %}light{% else %}dark{% endif %}"></div>
<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>